# conda activate gymnasium
# git clone https://github.com/ntasfi/PyGame-Learning-Environment.git
# cd PyGame-Learning-Environment/
# pip install -e .

pip-tools
numpy
torch
swig  # brew install swig
gymnasium
gymnasium[classic-control]
gymnasium[box2d]
stable-baselines3[extra]
pygame